{% load static %}
<!DOCTYPE HTML>
<html>
	<head>

		<title>BrenndonCJ</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'index/css/main.css'%}" />
		<noscript><link rel="stylesheet" href="{% static 'index/css/noscript.css'%}" /></noscript>
	
                <script async src="https://www.googletagmanager.com/gtag/js?id=G-2DC02C9HK9"></script>
                <script>
                  window.dataLayer = window.dataLayer || [];
                  function gtag(){dataLayer.push(arguments);}
                  gtag('js', new Date());

                  gtag('config', 'G-2DC02C9HK9');
                </script>

        </head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="" id="logo">BrenndonCJ</a></h1>
								<hr />
								<p>A vida é uma canção infantil ♫</p>
							</header>
							<footer>
								<a href="#banner" class="button circled scrolly">Start</a>
							</footer>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="{%url 'index'%}">Home</a></li>
								<li>
									<a href="#">Projetos</a>
									<!-- MENUS -->
									<!-- <ul>
										<li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam dolore nisl</a></li>
										<li>
											<a href="#">And a submenu &hellip;</a>
											<ul>
												<li><a href="#">Lorem ipsum dolor</a></li>
												<li><a href="#">Phasellus consequat</a></li>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam dolore nisl</a></li>
											</ul>
										</li>
										<li><a href="#">Veroeros feugiat</a></li>
									</ul>
								</li>
								<li><a href="left-sidebar.html">Left Sidebar</a></li>
								<li><a href="right-sidebar.html">Right Sidebar</a></li>
								<li><a href="no-sidebar.html">No Sidebar</a></li> -->
							</ul>
						</nav>

				</div>

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2>Hi. You're looking at <strong>BrenndonCJ</strong>.</h2>
						<p>
							<!-- A (free) responsive site template by <a href="http://html5up.net">HTML5 UP</a>.
							Built with HTML5/CSS3 and released under the <a href="http://html5up.net/license">CCA</a> license. -->
						</p>
					</header>
				</section>

			<!-- Carousel -->
				<section class="carousel">
					<div class="reel">

						<article>
							<a href="https://github.com/BrenndonCJ/WEB-Django" class="image featured"><img src="{%static 'index/images/web-django.png'%}" alt="" /></a>
							<header>
								<h3><a href="https://github.com/BrenndonCJ/WEB-Django">Web Django</a></h3>
							</header>
							<p>Projetos web utilizando python e framework django.</p>
						</article>

						<article>
							<a href="https://github.com/BrenndonCJ/Image-to-ASCII" class="image featured"><img src="{%static 'index/images/image-to-ascii.png'%}" alt="" /></a>
							<header>
								<h3><a href="https://github.com/BrenndonCJ/Image-to-ASCII">Image To ASCII</a></h3>
							</header>
							<p>Transformando imagens em codigo ASCII com python.</p>
						</article>

						<article>
							<a href="https://github.com/BrenndonCJ/Data-Science" class="image featured"><img src="{%static 'index/images/data-science.png'%}" alt="" /></a>
							<header>
								<h3><a href="https://github.com/BrenndonCJ/Data-Science">Data Science</a></h3>
							</header>
							<p>Projetos relacionados a ciencia de dados.</p>
						</article>

						<article>
							<a href="https://github.com/BrenndonCJ/CRUD-Flask" class="image featured"><img src="{%static 'index/images/crud-flask.png'%}" alt="" /></a>
							<header>
								<h3><a href="https://github.com/BrenndonCJ/CRUD-Flask">CRUD Flask</a></h3>
							</header>
							<p>CRUD simles em python utilizando o micro framework Flask.</p>
						</article>

						<article>
							<a href="https://github.com/BrenndonCJ/MB-Finance-Streamlit/tree/dev_v2" class="image featured"><img src="{%static 'index/images/streamlit.png'%}" alt="" /></a>
							<header>
								<h3><a href="https://github.com/BrenndonCJ/MB-Finance-Streamlit/tree/dev_v2">APP Streamlit</a></h3>
							</header>
							<p>Acompanhamento de criptomoedas com python e streamlit.</p>
						</article>

						<article>
							<a href="https://github.com/BrenndonCJ/Site_Controle_Financeiro" class="image featured"><img src="{%static 'index/images/github.png'%}" alt="" /></a>
							<header>
								<h3><a href="https://github.com/BrenndonCJ/Site_Controle_Financeiro">Site controle Financeiro</a></h3>
							</header>
							<p>O Controle Financeiro é uma aplicação Web feita utilizando Python e Flask.</p>
						</article>

						<article>
							<a href="https://github.com/BrenndonCJ/DownTube" class="image featured"><img src="{%static 'index/images/github.png'%}" alt="" /></a>
							<header>
								<h3><a href="https://github.com/BrenndonCJ/DownTube">DownTube</a></h3>
							</header>
							<p>Aplicação de conversão mp4 para mp3 em videos do Youtube.</p>
						</article>

						<article>
							<a href="https://github.com/BrenndonCJ/GUI_Chat_MultiClient_Python" class="image featured"><img src="{%static 'index/images/github.png'%}" alt="" /></a>
							<header>
								<h3><a href="https://github.com/BrenndonCJ/GUI_Chat_MultiClient_Python">Chat MultiClient</a></h3>
							</header>
							<p>Aplicação de chat desktop utilizando PySide2.</p>
						</article>

						<article>
							<a href="https://github.com/BrenndonCJ/Machine-Learning" class="image featured"><img src="{%static 'index/images/github.png'%}" alt="" /></a>
							<header>
								<h3><a href="https://github.com/BrenndonCJ/Machine-Learning">Machine Learning</a></h3>
							</header>
							<p>Projetos voltados a algoritmos de aprendizado de máquina.</p>
						</article>

					</div>
				</section>

			<!-- Main -->
				<div class="wrapper style2">

					<article id="main" class="container special">
						<!-- <a href="#" class="image featured"></a> -->
						<!-- <img src="{%static 'index/images/img-post-profile.png.jpg'%}" alt="" height="600" width="600" style="border-radius: 10%;"/> -->
						<div>
							<img src="{%static 'index/images/img-post-profile.png.jpg'%}" alt="" height="600" width="600" style="border-radius: 10%; margin: 0 auto; display: block;">
						</div>
						<header>
							<h2><a href="#">Descrição Profissional</a></h2>
							<p>
								Sou um profissional de Tecnologia da Informação (TI) com formação em Sistemas de Informação e uma paixão pela área de dados. Com uma sólida base de conhecimento em diversas disciplinas, meu perfil abrange desde o desenvolvimento de soluções de software até a análise de dados e automação de processos. Minha experiência inclui:
							</p>
							<ul>
								<li>
									<p>
										Python: Domino a linguagem Python, utilizando-a para desenvolver aplicações, scripts e análises de dados avançadas. Sou capaz de implementar algoritmos de Machine Learning e criar modelos preditivos.
									</p>
								</li>
								<li>
									<p>
										Análise de Dados: Tenho experiência em coletar, limpar e analisar dados para fornecer insights valiosos. Utilizo ferramentas como pandas, numpy e matplotlib para realizar análises estatísticas e visualizações de dados impactantes.
									</p>
								</li>
								<li>
									<p>
										Automação de Processos: Automatizar tarefas repetitivas é uma das minhas especialidades. Isso inclui a criação de scripts e programas que otimizam fluxos de trabalho, aumentando a eficiência e reduzindo erros.
									</p>
								</li>
								<li>
									<p>
										Power BI: Sou proficientes em criar dashboards interativos e relatórios dinâmicos usando o Power BI. Isso ajuda as organizações a tomar decisões informadas com base em dados atualizados e visualizações claras.
									</p>
								</li>
								<li>
									<p>
										Desenvolvimento Web: Além disso, possuo habilidades sólidas em criação e gerenciamento de sites, o que inclui o desenvolvimento frontend e a configuração de servidores web.
									</p>
								</li>
							</ul>
							<p>
								Com um compromisso constante com o aprendizado e a evolução, estou sempre atualizado com as últimas tendências e tecnologias. Meu objetivo é aplicar minha experiência e conhecimento para resolver desafios complexos e agregar valor a qualquer equipe ou projeto em que eu esteja envolvido.
							</p>
						</header>
						<p style="text-align: center">
							...
						</p>
						<!--
						<footer>
							<a href="https://pyimagesearch.com/2020/11/09/opencv-super-resolution-with-deep-learning/" target="blank" class="button">Leia mais</a>
						</footer>
						-->
					</article>

				</div>

			<!-- Features -->
				<!-- <div class="wrapper style1">

					<section id="features" class="container special">
						<header>
							<h2>Morbi ullamcorper et varius leo lacus</h2>
							<p>Ipsum volutpat consectetur orci metus consequat imperdiet duis integer semper magna.</p>
						</header>
						<div class="row">
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="{%static 'index/images/pic07.jpg'%}" alt="" /></a>
								<header>
									<h3><a href="#">Gravida aliquam penatibus</a></h3>
								</header>
								<p>
									Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
									porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="{%static 'index/images/pic08.jpg'%}" alt="" /></a>
								<header>
									<h3><a href="#">Sed quis rhoncus placerat</a></h3>
								</header>
								<p>
									Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
									porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="{%static 'index/images/pic09.jpg'%}" alt="" /></a>
								<header>
									<h3><a href="#">Magna laoreet et aliquam</a></h3>
								</header>
								<p>
									Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
									porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								</p>
							</article>
						</div>
					</section>

				</div> -->

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						{% comment %} <div class="row">

							<!-- Tweets -->
								<section class="col-4 col-12-mobile">
									<header>
										<h2 class="icon brands fa-twitter circled"><span class="label">Tweets</span></h2>
									</header>
									<ul class="divided">
										<li>
											<article class="tweet">
												Amet nullam fringilla nibh nulla convallis tique ante sociis accumsan.
												<span class="timestamp">5 minutes ago</span>
											</article>
										</li>
										<li>
											<article class="tweet">
												Hendrerit rutrum quisque.
												<span class="timestamp">30 minutes ago</span>
											</article>
										</li>
										<li>
											<article class="tweet">
												Curabitur donec nulla massa laoreet nibh. Lorem praesent montes.
												<span class="timestamp">3 hours ago</span>
											</article>
										</li>
										<li>
											<article class="tweet">
												Lacus natoque cras rhoncus curae dignissim ultricies. Convallis orci aliquet.
												<span class="timestamp">5 hours ago</span>
											</article>
										</li>
									</ul>
								</section>

							<!-- Posts -->
								<section class="col-4 col-12-mobile">
									<header>
										<h2 class="icon solid fa-file circled"><span class="label">Posts</span></h2>
									</header>
									<ul class="divided">
										<li>
											<article class="post stub">
												<header>
													<h3><a href="#">Nisl fermentum integer</a></h3>
												</header>
												<span class="timestamp">3 hours ago</span>
											</article>
										</li>
										<li>
											<article class="post stub">
												<header>
													<h3><a href="#">Phasellus portitor lorem</a></h3>
												</header>
												<span class="timestamp">6 hours ago</span>
											</article>
										</li>
										<li>
											<article class="post stub">
												<header>
													<h3><a href="#">Magna tempus consequat</a></h3>
												</header>
												<span class="timestamp">Yesterday</span>
											</article>
										</li>
										<li>
											<article class="post stub">
												<header>
													<h3><a href="#">Feugiat lorem ipsum</a></h3>
												</header>
												<span class="timestamp">2 days ago</span>
											</article>
										</li>
									</ul>
								</section>

							<!-- Photos -->
								<section class="col-4 col-12-mobile">
									<header>
										<h2 class="icon solid fa-camera circled"><span class="label">Photos</span></h2>
									</header>
									<div class="row gtr-25">
										<div class="col-6">
											<a href="#" class="image fit"><img src="{%static 'index/images/pic10.jpg'%}" alt="" /></a>
										</div>
										<div class="col-6">
											<a href="#" class="image fit"><img src="{%static 'index/images/pic11.jpg'%}" alt="" /></a>
										</div>
										<div class="col-6">
											<a href="#" class="image fit"><img src="{%static 'index/images/pic12.jpg'%}" alt="" /></a>
										</div>
										<div class="col-6">
											<a href="#" class="image fit"><img src="{%static 'index/images/pic13.jpg'%}" alt="" /></a>
										</div>
										<div class="col-6">
											<a href="#" class="image fit"><img src="{%static 'index/images/pic14.jpg'%}" alt="" /></a>
										</div>
										<div class="col-6">
											<a href="#" class="image fit"><img src="{%static 'index/images/pic15.jpg'%}" alt="" /></a>
										</div>
									</div>
								</section>

						</div> {% endcomment %}
						<hr />
						<div class="row">
							<div class="col-12">

								<!-- Contact -->
									<section class="contact">
										<header>
											<h3>Conheçe as minhas redes sociais ?</h3>
										</header>
										<p>...</p>
										<ul class="icons">
											<li><a href="https://www.instagram.com/BrenndonCJ/" target="blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="https://www.linkedin.com/in/maykbrendon-datascientist/" target="blank" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a></li>
											<li><a href="https://twitter.com/BrenndonCJ" target="blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
											<!-- <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li> -->
											<!-- <li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li> -->
											<!-- <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li> -->
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="{%url 'index'%}">BrenndonCJ</a></li>
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="{%static 'index/js/jquery.min.js'%}"></script>
			<script src="{%static 'index/js/jquery.dropotron.min.js'%}"></script>
			<script src="{%static 'index/js/jquery.scrolly.min.js'%}"></script>
			<script src="{%static 'index/js/jquery.scrollex.min.js'%}"></script>
			<script src="{%static 'index/js/browser.min.js'%}"></script>
			<script src="{%static 'index/js/breakpoints.min.js'%}"></script>
			<script src="{%static 'index/js/util.js'%}"></script>
			<script src="{%static 'index/js/main.js'%}"></script>

	</body>
</html>
